.App {
  font-family: sans-serif;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

.map {
  width: 100%;
  height: calc(100vh - 72px);
  position: relative;
  display: flex;
}

/*Fuegos*/
.location-icon {
  font-size: 2rem;
  color: #ff640d;
}

/*Spinner*/
.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.location-info {
  width: 100%;
  padding: 32px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-size: 18px;
  color: white;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0;
}

/* Container data */
/* .container-data {
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 20px;
}
.container-data h1 {
  font-size: 24px;
}
 */
