@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #bebebe;
}

.map {
  width: 100%;
  height: 70vh;
  position: relative;
  display: flex;
  background-color: #fff;
}

/*Fuegos*/
.location-icon {
  font-size: 1rem;
  color: #ff843c;
}

.location-icon:hover {
  font-size: 1.8rem;
  transition-duration: 0.3s;
  color: #ff2b06;
}

/*Spinner Div*/
.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  background-color: #fff;
}

.spinner {
  width: 110px;
  height: 110px;
}

.location-info {
  width: 100%;
  padding: 32px;
  background-color: #e28c4f;
  /* background-color: rgba(0, 0, 0, 0.5); */
  font-size: 18px;
  color: white;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0;
}

.header {
  background-color: #fff;
  justify-content: center;
}

.imglogo {
  display: block;
  margin: auto;
}

.footer {
  background-color: #669271;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.content {
  background-color: #fff;
  padding: 18px;
  font-size: 18px;
  color: black;
}

.title {
  font-weight: 700;
}

p {
  line-height: 135%;
}

b {
  font-weight: 800;
}

a {
  color: #fff;
}

.column {
  box-shadow: black;
}

hr {
  opacity: 10%;
}
