@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #ccd4cf;
}

.map {
  width: 100%;
  height: 70vh;
  position: relative;
  display: flex;
  background-color: #fff;
}

/*Fuegos*/
.location-icon {
  font-size: 1rem;
  color: #ff843c;
}

.location-icon:hover {
  font-size: 1.8rem;
  transition-duration: 0.3s;
  color: #ff2b06;
}

.location-info {
  width: 100%;
  padding: 32px;
  background-color: #e28c4f;
  font-size: 18px;
  color: #ffffff;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0;
}

/*Spinner Div*/
.spinner {
  width: 110px;
  height: 110px;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  background-color: #fff;
}

.header {
  background-color: #669271;
  justify-content: center;
}

.img-logo {
  display: block;
  margin: auto;
}

.footer {
  background-color: #669271;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.content {
  background-color: #fff;
  padding: 18px;
  font-size: 18px;
  color: #000000;
}

.title {
  font-weight: 1000;
}

p {
  line-height: 135%;
}

b {
  font-weight: 800;
}

a {
  color: #fff;
}

.drop-shadow {
  filter: drop-shadow(0 0 20px #00000080);
}
